.comment-block
  width 25%
  padding: 0px 0px 0px 30px
  .comment-block__subject
    font-size: 15px
    color #581317
    display block
    margin-bottom: 35px
  .comment-block__img
    width 150px
    height 100px
    margin-bottom: 30px
    position relative
    z-index 3
    .comment-block__mask
      position absolute
      width 100%
      height 100%
      top 0px 
      left 0px
      background rgba(60, 20, 17, 0.5)
      z-index 2
      opacity 0
      cursor pointer
    img
      width 100%
      height 100%
      object-fit cover
  .comment-block__title
    font-size 18px
    color #181a1b
    width 200px
    margin-bottom: 15px
    cursor pointer
  .comment-block__text
    font-size 13px
    color #181a1b
    width 200px
.comment-block:hover .comment-block__mask
  opacity 1
.comment-block:hover .comment-block__title
  color rgb(60, 20, 17)