.top-banner {
  width: 100%;
  color: #fff;
  display: block;
  background: no-repeat
  background-size: 2100px
  position: relative
  
}
.top-banner__mask
  position absolute
  width 100%
  height 100%
  background: rgba(0, 0, 0, 0.4)
  z-index 2
.top-banner__flex-block {
	width: 90%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	margin: 0px auto;
	padding: 34px 0px;
  position: relative
  z-index 3 
}
.top-banner__item {
	margin: auto 0px;
}
.top-banner__item span {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	text-transform: uppercase;
}
.top-banner__icon {
	width: 72px;
	height: 72px;
	border: 2px dotted #fff;
	border-radius: 40px; 
	display: inline-block;
	vertical-align: middle;
	margin: 0px 25px;
}
.top-banner__item p {
	margin: 0px;
	font-size: 14px;
}