

.search-block
  width: 18.5%;
  background: #040404;
  border-right: 1px solid #fff;
  padding: 0px 0px 40px
  
.search-block__title 
  background: #171615
  padding: 19px 0px 0px 65px
  border-bottom: 2px solid #fff;
  height: 71px
  
.search-block__title-text
  color: #fff
  font-size: 24px
  display: block
  margin: auto 0px
  height 56px
  width 160px

.navigation 
  height: 370px
  margin: 45px 0px 0px
  padding: 0px 0px 0px 65px
  list-style: none
  
.navigation__item 
  margin-bottom: 20px
  
.navigation__item:last-child
  margin:0px
  
.navigation__link
  color: #fff
  text-transform: uppercase
  text-decoration: none
  font-size: 15px
.navigation__link:hover
  opacity 0.7
  transition 0.3s
.search-block__search 
  display: block
  padding-left: 65px
  text-transform: uppercase
  text-decoration: none
  color: #fff
  font-size: 12px
.search-block__search:hover
  opacity 0.7
  transition 0.3s