.info
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding 0px 30px
  .info__text-block
    margin auto 0px
  .info__img
    display inline-block
    vertical-align: middle
    margin-right: 10px
  .info__text
    display inline-block
    vertical-align middle
    font-size 11px
  .info__logo
    margin auto 0px
      