.interview
  width 49%
  padding-right: 35px
  padding-left: -35px
  .interview__subject
    color #581317
    font-size 15px
    display block
    margin-bottom: 30px
  .interview__image
    width 234px
    height 234px
    border-radius 120px
    margin 0px 0px 40px 15px
    overflow hidden
    position relative
    z-index 3
    cursor pointer
    .interview__mask
      position absolute
      width 100%
      height 100%
      top 0px 
      left 0px
      background rgba(60, 20, 17, 0.5)
      z-index 2
      opacity 0
  .interview__title-block
    position: relative
    .interview__title
      font-size 24px
      margin 0px 0px 15px
      padding 0px 0px 0px 30px
      cursor pointer
    .interview__divider
      width 80px
      height 1px
      background #2e3e4f
      position absolute
      top 13px
      left -80px
  .interview__author
    color #581317
    font-size 15px
    display block
    margin-bottom 15px
    padding-left 30px
  .interview__text
    font-size 14px
    color #581317
    margin 0px
    padding-left 30px
    width 315px
.interview:hover .interview__mask
  opacity 1
.interview:hover .interview__title
  color rgb(60, 20, 17)