.analytics-block
  width 49%
  .analytics-block__subject
    color #581317
    font-size 15px
    display block
    margin-bottom: 35px
  .analytics-block__img
    width 100%
    height 260px
    position relative
    z-index 3
    .analytics-block__mask
      position absolute
      width 100%
      height 100%
      top 0px 
      left 0px
      background rgba(60, 20, 17, 0.5)
      z-index 2
      opacity 0
      cursor pointer
    img
      width 100%
      height 100%
      object-fit cover
  .analytics-block__title
    font-size 22px
    display block
    margin-top 30px
    cursor pointer
  .analytics-block__text
    font-size 13px 
    margin 25px 0px 0px
.analytics-block:hover .analytics-block__mask
  opacity 1
.analytics-block:hover .analytics-block__title
  color rgb(60, 20, 17)