.important
  width: 100%
  margin-bottom: 60px
  .important__title
    background: #fff
    width 100%
    display block
    text-align: center
    color #3c1411
    text-transform uppercase
    padding-bottom: 30px
    