.social
  color #fff
  text-align center
  .social__title
    background: #f2f2f2
    color #0a110d
    text-transform uppercase 
    font-size 14px
    text-align: center
    display block
    padding 42px 0px
    margin-top 60px
    margin-bottom: 35px
  #vk_groups
    margin: 0px auto
    display block
