.slider-block
  width: 61.5%
  overflow hidden
  position: relative
  .slick-dots
      list-style: none
      position absolute
      margin 0px
      padding 0px
      bottom 40px
      left 35px
      li
        display inline-block
        a
          display: inline-block
          vertical-align middle
          width 5px
          height 5px
          background #fff
          border-radius 3px
          margin-right 10px
          cursor pointer
      .slick-active
        a
          background transparent
          border: 3px solid #fff
          border-radius: 10px
          


  .slick-prev
      display none !important
  .slick-next
      font-size: 16px
      position: absolute
      z-index: 3
      bottom: 20px
      right: 40px
      color: #fff
      width: 45px
      height: 45px
      border: 2px solid #fff
      border-radius: 25px
      text-align: center
      cursor: pointer
  
.slider-block__title
  position: absolute
  font-size: 15px
  text-transform: uppercase
  color: #fff
  top: 35px
  left:35px
  z-index:3

.slide
  display inline-block 
  height:561px
  position:relative
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  vertical-align: top
  
  
.slide h1
  font-size: 48px
  width: 780px
  margin: 120px 0px 0px 35px
  position relative
  z-index: 3
  color #fff

  
.divider
  height: 2px
  width: 100%
  background: #fff
  position: absolute
  bottom: 90px
  z-index: 3
  
.slider-block__profile
  margin: 30px 0px 0px 35px
  position relative
  z-index: 3

.slider-block__img-profile
  display inline-block
  vertical-align: middle
  width:60px
  height: 60px
  border-radius: 30px
  overflow hidden
  
.slider-block__text-profile
  display inline-block
  vertical-align: middle
  margin-left: 10px
  b
    display: block
    color: #fff
    font-size: 17px
    margin-bottom: 5px
  span
    display: block
    color: #fff
    font-size: 12px
.mask
  position absolute
  width 100%
  height 100%
  background: rgba(0, 0, 0, 0.4)
  z-index 2