.interview-block
  padding 70px 0px 45px
  width: 63%
  margin 0px auto
  display: flex;
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  justify-content: space-between;
  -webkit-justify-content: space-between;