.lectorii
  width 26%
  padding 0px 35px
  .lectorii__title
    padding 0px 0px 0px 8px
    margin-bottom 20px
    .lectorii__subject
      color #581317
      font-size 15px
      display inline-block
      vertical-align middle
      margin-right 40px
    .lectorii__block-date
      display inline-block
      vertical-align middle
      position: relative
      .lectorii__date-divider
        width 100%
        height 2px
        background: #581317
        position absolute
        top -2px
        left 0px
      .lectorii__date-number
        color #581317
        display block
        font-size 28px
        padding-top 15px
      .lectorii__date-month
        color #581317
        display block
        font-size 13px
  .lectorii__img
    width 98px
    height 98px
    border-radius: 49px
    margin-bottom: 35px
    overflow hidden
    position relative
    z-index 3
    .lectorii__mask
      position absolute
      width 100%
      height 100%
      top 0px 
      left 0px
      background rgba(60, 20, 17, 0.5)
      z-index 2
      opacity 0
      cursor pointer
  .lectorii__text
    color #181a1b
    font-size 18px
    margin 0px 0px 0px 10px
    width 180px
    cursor pointer
  .lectorii__divider
    height 2px
    width 87px
    background: #aeaeae
    margin 28px 0px 28px 10px
  .lectorii__author
    font-size 15px
    color #181a1b
    margin 0px 0px 0px 10px
    display block
.lectorii:hover .lectorii__mask
  opacity 1
.lectorii:hover .lectorii__text
  color rgb(60, 20, 17)
