.slider
  width 100%
  background: #3c1411
  padding 45px 0px
.wrapper
  overflow hidden
  position relative
  width 93%
  margin: 0px auto
  .slide-two-img
    display block
  .slide-two
    display inline-block
    vertical-align: top
    position relative
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    vertical-align: top
    a
      display block
      color #fff
      text-decaration none
      font-size 15px
      margin-bottom: 35px
      padding-left: 20px
    h1 
      color #fff
      font-size 24px
      margin 35px 0px 15px
      padding-left 20px
    p
      margin 0px
      padding-left 20px
      color #fff
      font-size 13px
  .slick-dots
      list-style: none
      margin 30px auto 0px
      text-align center
      li
        display inline-block
        a
          display: inline-block
          vertical-align middle
          width 5px
          height 5px
          background #fff
          border-radius 3px
          margin-right 10px
          cursor pointer
      .slick-active
        a
          background transparent
          border: 3px solid #fff
          border-radius: 10px