.analytics
  background: #fff6de
  width: 77%
  margin 0px auto 50px
  .analytics__container
    width 83%
    margin 0px auto
    padding 50px 0px
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content: space-between;
    -webkit-justify-content: space-between;