.call-back
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding 33px 70px
  margin-top: 50px
  background: #ebebeb
  .call-back__text
    width 160px
    font-size 11px
    color #1b1e1f
    text-align center
    margin auto 0px
  .call-back__input
    border 0px
    border-bottom 2px solid #fff
    width 505px
    padding 20px 0px 20px 35px
    font-size 14px
    color #1b1e1f
    background: transparent
    margin auto 0px
  .call-back__input:focus
    outline none
  .call-back__button
    font-size 14px
    color #1b1e1f
    text-align center
    border 0px
    background: transparent
    margin auto 0px
    cursor pointer
  .call-back__button:focus
    outline none