.blog
  text-align: right
  width: 77%
  margin 0px auto
  padding-bottom 100px
  .blog__link
    display inline-block
    width 29.5%
    text-align left
    color #581317
    font-size 15px
    text-decoration none
    margin-bottom 25px
  .blog__block
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content: space-between;
    -webkit-justify-content: space-between;
    .blog__img
      width 67%
      height 480px
      img 
        width 100%
        height 100%
        object-fit cover
    .blog__text-block
      width 32%
      text-align left
      border 2px solid #dcdcdc
      box-sizing border-box
      padding-top 38px
      .blog__title
        width 255px
        font-size: 24px
        margin 0px 0px 25px 30px
        height 169px
        position: relative
        overflow hidden
        cursor pointer
      .blog__text
        width 255px
        margin 0px 0px 40px 30px
        font-size 13px
        position: relative
        overflow hidden
        height 75px
      .blog__author-block
        padding 27.5px 0px 
        border-top 2px solid #dcdcdc
        .blog__author-img
          width 74px
          height 74px
          border-radius 37px
          overflow hidden
          position relative
          margin 0px 15px 0px 30px
          display inline-block
          vertical-align: middle
        .blog__author-text
          display inline-block
          vertical-align: middle
          .blog__author-name
            display block
            font-size 17px
            color #1c2020
          .blog__author-position
            display block
            font-size 12px
            color #1c2020
.blog__text-block:hover .blog__title
  color rgb(60, 20, 17)
  