.comments
  width: 63%
  margin 0px auto
  padding-bottom: 40px
  display: flex;
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  justify-content: space-between;
  -webkit-justify-content: space-between;