.news-block
  width: 20%
  border-left: 1px solid #fff;
  background: #3c1411;

.news-block__title
  padding: 35px 0px 0px 30px
  border-bottom: 2px solid #fff
  height: 55px
  
.news-block__title-text
  color: #fff
  font-size: 15px
  text-transform: uppercase

.news-list 
  margin-top: 45px
  padding 0px 40px 0px 30px
  height: 370px

.news-list__item
  margin-bottom: 25px
.news-list__item:hover
  opacity 0.9
  transition 0.3s
.news-list__item:last-child
  margin:0px

.news-list__text
  color: #fff
  font-size: 14px
  margin: 0px 0px 15px
  text-decoration none
  display block
.news-list__data
  color: #fff
  font-size: 11px
  
.news-block__all-news
  display block
  color: #fff
  text-transform: uppercase
  text-decoration: none
  font-size: 12px
  padding-left: 30px

.news-block__all-news:hover
  opacity 0.9
  transition 0.3s