<!doctype html>
<html lang="en">
<head>
  <title>AppName</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>body { margin: 0; padding: 0; min-height: 100%;}</style>
  <link rel="shortcut icon" href="/favicons/dest/favicon.ico?v=gAA7bEArbx">
  <meta name="apple-mobile-web-app-title" content="AppName">
  <meta name="application-name" content="AppName">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=gAA7bEArbx">
  <% if (htmlWebpackPlugin.options.bundleCssFile) { %>
  <link rel="stylesheet" media="all" href="/<%= htmlWebpackPlugin.options.bundleCssFile %>"></link>
  <% } %>
</head>
<body>
<div id="app"></div>
<script type="application/javascript" src="/<%= htmlWebpackPlugin.options.bundleJsFile %>"></script>
</body>
</html>